In [1]:
import numpy as np
import pandas as pd
import re

In [2]:
df = pd.read_csv("202012_연령별인구현황_연간.csv", encoding="cp949")
df

ValueError: invalid literal for int() with base 10: '경기도 수원시 (4111000000)'

In [3]:
#데이터 사전탐색, 계산을 위해 int값으로 변경 요망
df.info()

#그전에 쉼표 빼줘야 타입 변경가능
cols = df.columns[1:]
list(cols)

for i in list(cols):
    df[i]=df[i].str.replace(",","")
    

#int로변경
for i in list(cols):
    df[i]=df[i].astype(int)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   행정구역                49 non-null     object
 1   2020년_거주자_20~29세    49 non-null     object
 2   2020년_거주자_30~39세    49 non-null     object
 3   2020년_거주자_40~49세    49 non-null     object
 4   2020년_남_거주자_20~29세  49 non-null     object
 5   2020년_남_거주자_30~39세  49 non-null     object
 6   2020년_남_거주자_40~49세  49 non-null     object
 7   2020년_여_거주자_20~29세  49 non-null     object
 8   2020년_여_거주자_30~39세  49 non-null     object
 9   2020년_여_거주자_40~49세  49 non-null     object
dtypes: object(10)
memory usage: 4.0+ KB

In [144]:
#변경 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   행정구역                49 non-null     object
 1   2020년_거주자_20~29세    49 non-null     int32
 2   2020년_거주자_30~39세    49 non-null     int32
 3   2020년_거주자_40~49세    49 non-null     int32
 4   2020년_남_거주자_20~29세  49 non-null     int32
 5   2020년_남_거주자_30~39세  49 non-null     int32
 6   2020년_남_거주자_40~49세  49 non-null     int32
 7   2020년_여_거주자_20~29세  49 non-null     int32
 8   2020년_여_거주자_30~39세  49 non-null     int32
 9   2020년_여_거주자_40~49세  49 non-null     int32
dtypes: int32(9), object(1)
memory usage: 2.2+ KB

In [147]:
#컬럼 깔끔하게 변경
df.columns = df.columns.str.replace("2020년_","").str.replace("거주자_","").str.replace("20~29세","20대").str.replace("30~39세","30대").str.replace("40~49세","40대")
df.head()

,행정구역,20대,30대,40대,남_20대,남_30대,남_40대,여_20대,여_30대,여_40대
0,경기도 수원시 (4111000000),185979,177436,200933,97952,92049,101175,88027,85387,99758
1,경기도 수원시 장안구 (4111100000),43844,32439,44895,24000,16914,22205,19844,15525,22690
2,경기도 수원시 장안구 파장동(4111156000),3398,2945,3641,1856,1559,1862,1542,1386,1779
3,경기도 수원시 장안구 율천동(4111156600),10070,5829,6474,6164,3101,3223,3906,2728,3251
4,경기도 수원시 장안구 정자1동(4111157100),4129,3460,5424,2204,1680,2602,1925,1780,2822

In [4]:
#행정구역 번호및 괄호 제거, 시, 구 명 제거 (동만 남기기)
df["행정구역"] = df["행정구역"].str.replace("\W|\d", "")
df["행정구역"] = df["행정구역"].str.replace("[ㄱ-ㅣ,가-힣]+시|[ㄱ-ㅣ,가-힣]+구","")
df

,행정구역,2020년_거주자_20~29세,2020년_거주자_30~39세,2020년_거주자_40~49세,2020년_남_거주자_20~29세,2020년_남_거주자_30~39세,2020년_남_거주자_40~49세,2020년_여_거주자_20~29세,2020년_여_거주자_30~39세,2020년_여_거주자_40~49세
0,,185979,177436,200933,97952,92049,101175,88027,85387,99758
1,,43844,32439,44895,24000,16914,22205,19844,15525,22690
2,파장동,3398,2945,3641,1856,1559,1862,1542,1386,1779
3,율천동,10070,5829,6474,6164,3101,3223,3906,2728,3251
4,정자동,4129,3460,5424,2204,1680,2602,1925,1780,2822
5,정자동,4350,3621,5017,2264,1871,2453,2086,1750,2564
6,정자동,6226,4429,8972,3229,2154,4203,2997,2275,4769
7,영화동,2714,2457,2859,1412,1381,1560,1302,1076,1299
8,송죽동,3036,2633,3029,1529,1373,1517,1507,1260,1512
9,조원동,4325,3234,4445,2283,1766,2259,2042,1468,2186
10,조원동,2979,2032,2924,1536,972,1346,1443,1060,1578
11,연무동,2617,1799,2110,1523,1057,1180,1094,742,930
12,,54334,57808,61191,28339,30156,31631,25995,27652,29560
13,세류동,1480,1701,1457,748,913,764,732,788,693
14,세류동,3578,3537,3648,1905,2029,1962,1673,1508,1686
15,세류동,2720,2564,3027,1442,1405,1582,1278,1159,1445
16,평동,6359,5737,6124,3427,2992,3135,2932,2745,2989
17,서둔동,5848,5299,6038,3096,2923,3183,2752,2376,2855
18,운동,3934,3232,3707,2075,1737,1901,1859,1495,1806
19,금곡동,6247,6662,8107,3205,3306,4034,3042,3356,4073
20,호매실동,5074,9231,8340,2513,4526,4438,2561,4705,3902
21,권선동,5023,4440,3653,2521,2402,1888,2502,2038,1765
22,권선동,6750,7937,8991,3509,3787,4357,3241,4150,4634
23,곡선동,5270,5207,4887,2811,2979,2739,2459,2228,2148
24,입북동,2051,2261,3212,1087,1157,1648,964,1104,1564
25,,28814,24342,26711,14983,13155,13793,13831,11187,12918
26,매교동,893,884,805,486,476,461,407,408,344
27,매산동,1868,1633,1398,1023,916,809,845,717,589
28,고등동,1197,1069,1242,634,625,684,563,444,558
29,화서동,3178,2609,3809,1604,1339,1874,1574,1270,1935
30,화서동,4122,3432,4520,2145,1673,2170,1977,1759,2350
31,지동,1352,1171,1604,753,650,872,599,521,732
32,우만동,3239,2892,2969,1722,1621,1565,1517,1271,1404
33,우만동,3658,2182,2731,2001,1137,1291,1657,1045,1440
34,인계동,7820,7190,6205,3876,3962,3208,3944,3228,2997
35,행궁동,1487,1280,1428,739,756,859,748,524,569
36,,58987,62847,68136,30630,31824,33546,28357,31023,34590
37,매탄동,3130,2384,2974,1743,1254,1434,1387,1130,1540
38,매탄동,2496,1947,2416,1249,1057,1200,1247,890,1216
39,매탄동,6463,5444,6778,3594,2977,3385,2869,2467,3393
40,매탄동,3754,3199,3711,1996,1676,1720,1758,1523,1991
41,원천동,6522,7486,7230,3344,3777,3794,3178,3709,3436
42,영통동,4908,5507,7133,2517,2671,3389,2391,2836,3744
43,영통동,5634,6762,4228,3171,3767,2170,2463,2995,2058
44,영통동,6470,4436,6092,3495,2302,2878,2975,2134,3214
45,망포동,4580,4999,5867,2478,2437,2853,2102,2562,3014
46,망포동,3397,5776,5467,1674,2803,2767,1723,2973,2700
47,광교동,8438,9504,10751,3820,4502,5203,4618,5002,5548
48,광교동,3195,5403,5489,1549,2601,2753,1646,2802,2736

In [163]:
#전처리 완성본
df_final = df[-(df["행정구역"]=="")].groupby(by="행정구역").sum().reset_index()
df_final

    행정구역    20대    30대    40대  남_20대  남_30대  남_40대  여_20대  여_30대  여_40대
0    고등동   1197   1069   1242    634    625    684    563    444    558
1    곡선동   5270   5207   4887   2811   2979   2739   2459   2228   2148
2    광교동  11633  14907  16240   5369   7103   7956   6264   7804   8284
3    권선동  11773  12377  12644   6030   6189   6245   5743   6188   6399
4    금곡동   6247   6662   8107   3205   3306   4034   3042   3356   4073
5    망포동   7977  10775  11334   4152   5240   5620   3825   5535   5714
6    매교동    893    884    805    486    476    461    407    408    344
7    매산동   1868   1633   1398   1023    916    809    845    717    589
8    매탄동  15843  12974  15879   8582   6964   7739   7261   6010   8140
9    서둔동   5848   5299   6038   3096   2923   3183   2752   2376   2855
10   세류동   7778   7802   8132   4095   4347   4308   3683   3455   3824
11   송죽동   3036   2633   3029   1529   1373   1517   1507   1260   1512
12   연무동   2617   1799   2110   1523   1057   1180   1094    742    930
13   영통동  17012  16705  17453   9183   8740   8437   7829   7965   9016
14   영화동   2714   2457   2859   1412   1381   1560   1302   1076   1299
15   우만동   6897   5074   5700   3723   2758   2856   3174   2316   2844
16    운동   3934   3232   3707   2075   1737   1901   1859   1495   1806
17   원천동   6522   7486   7230   3344   3777   3794   3178   3709   3436
18   율천동  10070   5829   6474   6164   3101   3223   3906   2728   3251
19   인계동   7820   7190   6205   3876   3962   3208   3944   3228   2997
20   입북동   2051   2261   3212   1087   1157   1648    964   1104   1564
21   정자동  14705  11510  19413   7697   5705   9258   7008   5805  10155
22   조원동   7304   5266   7369   3819   2738   3605   3485   2528   3764
23    지동   1352   1171   1604    753    650    872    599    521    732
24   파장동   3398   2945   3641   1856   1559   1862   1542   1386   1779
25    평동   6359   5737   6124   3427   2992   3135   2932   2745   2989
26   행궁동   1487   1280   1428    739    756    859    748    524    569
27  호매실동   5074   9231   8340   2513   4526   4438   2561   4705   3902
28   화서동   7300   6041   8329   3749   3012   4044   3551   3029   4285

In [164]:
#완성본 파일로 저장
df_final.to_csv("전처리 완성본/지역연령별 데이터 전처리 완성본.csv", index=False)

In [165]:
pd.read_csv("전처리 완성본/지역연령별 데이터 전처리 완성본.csv")

    행정구역    20대    30대    40대  남_20대  남_30대  남_40대  여_20대  여_30대  여_40대
0    고등동   1197   1069   1242    634    625    684    563    444    558
1    곡선동   5270   5207   4887   2811   2979   2739   2459   2228   2148
2    광교동  11633  14907  16240   5369   7103   7956   6264   7804   8284
3    권선동  11773  12377  12644   6030   6189   6245   5743   6188   6399
4    금곡동   6247   6662   8107   3205   3306   4034   3042   3356   4073
5    망포동   7977  10775  11334   4152   5240   5620   3825   5535   5714
6    매교동    893    884    805    486    476    461    407    408    344
7    매산동   1868   1633   1398   1023    916    809    845    717    589
8    매탄동  15843  12974  15879   8582   6964   7739   7261   6010   8140
9    서둔동   5848   5299   6038   3096   2923   3183   2752   2376   2855
10   세류동   7778   7802   8132   4095   4347   4308   3683   3455   3824
11   송죽동   3036   2633   3029   1529   1373   1517   1507   1260   1512
12   연무동   2617   1799   2110   1523   1057   1180   1094    742    930
13   영통동  17012  16705  17453   9183   8740   8437   7829   7965   9016
14   영화동   2714   2457   2859   1412   1381   1560   1302   1076   1299
15   우만동   6897   5074   5700   3723   2758   2856   3174   2316   2844
16    운동   3934   3232   3707   2075   1737   1901   1859   1495   1806
17   원천동   6522   7486   7230   3344   3777   3794   3178   3709   3436
18   율천동  10070   5829   6474   6164   3101   3223   3906   2728   3251
19   인계동   7820   7190   6205   3876   3962   3208   3944   3228   2997
20   입북동   2051   2261   3212   1087   1157   1648    964   1104   1564
21   정자동  14705  11510  19413   7697   5705   9258   7008   5805  10155
22   조원동   7304   5266   7369   3819   2738   3605   3485   2528   3764
23    지동   1352   1171   1604    753    650    872    599    521    732
24   파장동   3398   2945   3641   1856   1559   1862   1542   1386   1779
25    평동   6359   5737   6124   3427   2992   3135   2932   2745   2989
26   행궁동   1487   1280   1428    739    756    859    748    524    569
27  호매실동   5074   9231   8340   2513   4526   4438   2561   4705   3902
28   화서동   7300   6041   8329   3749   3012   4044   3551   3029   4285