In [1]:
import pandas  as  pd

In [2]:
#데이터  준비 및 컬럼 재지정, 인덱스 재지정
df = pd.read_csv("토지지목별현황_20210527235436.csv", encoding="cp949")
df.columns = list(df[:1].values)
df = df.drop(0).reset_index(drop=True).iloc[:,1:]

In [3]:
#행정구역(구동)별(2) 컬럼명 동 으로 변경
df.columns = ['동', '대지', '주차장', '도로', '공원', '체육용지']
df.tail(20)

        동       대지     주차장       도로       공원    체육용지
41    신풍동   138184     906    29712        0       0
42    장안동    77820       0    21567        0       0
43     교동   163742       0    37239        0       0
44    매교동   261031    2117    88268        0       0
45  매산로1가   100469       0    52185        0       0
46  매산로2가   187956     287    33187        0       0
47  매산로3가   183620       0    60755        0       0
48    고등동   636808    1382   200471     1045       0
49    화서동  1167182    7991   464830   123710       0
50     지동   547631   19179   152893     4735    1695
51    우만동   999869    1597   351910    26683    2073
52    인계동  1496044    6837   685728   244682       0
53     소계  8213357  118679  4082640  3755888  274069
54    매탄동  1955610    8666   703913   241504    5802
55    원천동  1002255    9408   467279   389782       0
56    이의동  1657463   45186  1092799  1101161     905
57     하동   690190   52683   496944  1434773  235190
58    영통동  1602983     334   796872   538627   16514
59     신동   234744    2105   114105    33744       0
60    망포동  1070112     297   410729    16298   15658

In [4]:
#데이터 사전탐색
#int값으로 변경 요망
df.info()

for i in ['대지', '주차장', '도로', '공원', '체육용지']:
    df[i] = df[i].astype(int)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   동       61 non-null     object
 1   대지      61 non-null     object
 2   주차장     61 non-null     object
 3   도로      61 non-null     object
 4   공원      61 non-null     object
 5   체육용지    61 non-null     object
dtypes: object(6)
memory usage: 3.0+ KB

In [5]:
#int확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   동       61 non-null     object
 1   대지      61 non-null     int32
 2   주차장     61 non-null     int32
 3   도로      61 non-null     int32
 4   공원      61 non-null     int32
 5   체육용지    61 non-null     int32
dtypes: int32(5), object(1)
memory usage: 1.8+ KB

In [6]:
#동  아닌 값  제거
df.head(50)
df = df[-(df["동"]=="소계")].reset_index(drop=True)

In [7]:
#반복문으로 매산로->매산동 변경, 팔달로->행궁동
z = []
for i in list(df["동"]):
    if "매산로" in i:
        i = i.replace(i,"매산동")
        z.append(i)
    elif  "팔달로" in i:
        i = i.replace(i,"행궁동")
        z.append(i)
    else:
        z.append(i)
    
df["동"] =z

In [8]:
#매산동,  매탄동 병합
df = df.groupby(by ="동").sum()

In [9]:
#대지 대비  주차장 면적 비율 파생변수 생성
df["주차장면적/대지(%)"] = (df["주차장"]/df["대지"]*100).round(2)
df

           대지    주차장       도로       공원    체육용지  주차장면적/대지(%)
동
고등동    636808   1382   200471     1045       0         0.22
고색동    805980  32969   742749   287418   13502         4.09
곡반정동   377577  35627   260895    45011       0         9.44
교동     163742      0    37239        0       0         0.00
구운동    668053   3767   358174   112258       0         0.56
구천동     35985      0    13767        0       0         0.00
권선동   2122641  19947   966087   396523       0         0.94
금곡동    944912  14720   383467   385628       0         1.56
남수동     98262   1053    30916        0       0         1.07
남창동     85930      0    11821        0       0         0.00
당수동    252330    471   131208    13951       0         0.19
대황교동    22291   2365   103960        0       0        10.61
망포동   1070112    297   410729    16298   15658         0.03
매교동    261031   2117    88268        0       0         0.81
매산동    472045    287   146127        0       0         0.06
매탄동   1955610   8666   703913   241504    5802         0.44
매향동    108088      0    41610        0       0         0.00
북수동     77619      0    43880        0       0         0.00
상광교동    39054      0    59534        0       0         0.00
서둔동   1105276   9603   318622    50644    2175         0.87
세류동   1577671  26022   656067    18118       0         1.65
송죽동    526679   2647   217854     5981    8327         0.50
신동     234744   2105   114105    33744       0         0.90
신풍동    138184    906    29712        0       0         0.66
연무동    500002    649   162320    11660       0         0.13
영동      25532      0    10981        0       0         0.00
영통동   1602983    334   796872   538627   16514         0.02
영화동    740923   3001   287648    32099       0         0.41
오목천동   618036  40410   280793    32413       0         6.54
우만동    999869   1597   351910    26683    2073         0.16
원천동   1002255   9408   467279   389782       0         0.94
율전동    601550   2648   363272     6519       0         0.44
이목동    384176  17797   345426     7933       0         4.63
이의동   1657463  45186  1092799  1101161     905         2.73
인계동   1496044   6837   685728   244682       0         0.46
입북동    205085      0   219649    12651       0         0.00
장안동     77820      0    21567        0       0         0.00
장지동      8987      5    10209        0       0         0.06
정자동   1915171   7785   594979   233271    8307         0.41
조원동   1067892   2203   421594    21287  186790         0.21
중동      25327      0    17329        0       0         0.00
지동     547631  19179   152893     4735    1695         3.50
천천동    540445      0   304438    79214    4210         0.00
탑동     629382   6793   362729    61697    5127         1.08
파장동    682603  18731   595857    12872       0         2.74
평동     215586  23876   102613        0       0        11.07
평리동     10954   2191    20921     9172       0        20.00
하광교동    68058      0   227624    16766       0         0.00
하동     690190  52683   496944  1434773  235190         7.63
행궁동    131020    401    50335     1014       0         0.31
호매실동  1045817  32231   432705   321390       0         3.08
화서동   1167182   7991   464830   123710       0         0.68

In [10]:
#체육용지 유무 바이너리 변수 생성

z = []
for  i in list(df["체육용지"]):
    if i >0:
        z.append(1)
    else:
        z.append(0)
        
df["체육용지유무"]=z
df.head()

          대지    주차장      도로      공원   체육용지  주차장면적/대지(%)  체육용지유무
동
고등동   636808   1382  200471    1045      0         0.22       0
고색동   805980  32969  742749  287418  13502         4.09       1
곡반정동  377577  35627  260895   45011      0         9.44       0
교동    163742      0   37239       0      0         0.00       0
구운동   668053   3767  358174  112258      0         0.56       0

In [11]:
#전처리 완성본 저장
df.to_csv("전처리완성본/토지지목별 현황 전처리 완성본.csv")